.container {
  display: flex;

  align-items: center;
  border-radius: 20px;
  width: 500px;
  height: 300px;
  padding: 25px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  background: #4f4f4f;
}
.containerLight {
  display: flex;

  align-items: center;
  border-radius: 20px;
  width: 500px;
  height: 300px;
  padding: 25px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  background: #fff;
}
