.conteinerWeater {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listWeater {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.itemWeater {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.input {
  width: 260px;
}
.inputSearch {
  margin: 0 0 10px 0;
  color: #4f4f4f;
}
.card {
  width: 100%;
  height: 100%;
}
.apex {
  display: none;
}
@media screen and (min-width: 375px) {
  .input {
    width: 360px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .apex {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .input {
    width: 735px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .itemWeater {
    flex-direction: row;
    gap: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .input {
    width: 875px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
