.nav {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid transparent rgb(206, 206, 231);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link {
  color: #4793ff;

  font-size: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.isActive {
  color: rgb(241, 84, 84);
  border-bottom-color: rgb(206, 206, 231);
}

.navList {
  display: flex;
  gap: 20px;
}
