.favListContainer {
  border-radius: 40px;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  background: #4f4f4f;
}
.favListContainerLight {
  border-radius: 40px;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 2px 5px 25px -3px rgba(71, 147, 255, 0.5);
  background: #fff;
}
.listWeater {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.itemWeater {
  display: flex;
  gap: 20px;
}
