.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  width: 1000px;
  border-radius: 40px;
  padding: 35px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  background: #4f4f4f;
}
.cardLight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  width: 1000px;
  border-radius: 40px;
  padding: 35px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  background: #fff;
}
.cityName {
  align-self: center;
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32.68px;
  text-align: left;
}
.item {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
}
.itemTemp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.itemImg {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  width: 200px;
  height: 200px;
}
.description {
  margin: 0;

  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
}
.today {
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  text-align: left;
}
.list {
  display: flex;
}
.temp {
  margin: 0;
  font-weight: 600;
  font-size: 85px;
  color: #4793ff;
}
